[push]
  default = simple
[user]
  name = Conlin Durbin
  email = conlindurbin@gmail.com
[alias]
  A = add -A
  pu = pull
  pur = pull --rebase
  cam = commit -am
  ca = commit -a
  cm = commit -m
  ci = commit
  co = checkout
  st = status
  br = branch -v
  unstage = reset HEAD --
  find = !sh -c 'git ls-tree -r --name-only HEAD | grep --color $1' -
  k = !gitk
  g = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  h = !git --no-pager log origin/master..HEAD --abbrev-commit --pretty=oneline
  pom = !sh -c 'git h && echo Ready to push? ENTER && read && git push origin master' -
  pomt = !sh -c 'git h && echo Ready to push? ENTER && read && git push origin master && git push origin master --tags' -
  purm = !sh -c 'test "$#" = 1 && git h && git checkout master && git pull && git checkout \"$1\" && git rebase master && exit 0 || echo \"usage: git purm <branch>\" >&2 && exit 1' -
  rem = !sh -c 'test "$#" = 1 && git h && git checkout master && git pull && git checkout \"$1\" && git rebase master && git checkout master && git merge \"$1\" && echo Done and ready to do: git pom && exit 0 || echo \"usage: git rem <branch>\" >&2 && exit 1' -
  rpom = !git pull --rebase && git pom
  v = !gvim $*
  lt = !git describe $(git rev-list --tags --max-count=1)
  mus = !sh -c 'git checkout master && git fetch upstream && git merge upstream/master && git push origin master --tags' -
[commit]
  template = ~/.gitmessage

